body{

    background-position: center;
    background-size: cover;
}
#myCanvas
{
    margin-top: 10px;
	border-width:40px;
	background-color: white; 
	border-style:ridge;
}

#HEADLINE {
    font-size: 50px;
	color: red;
	font-weight: bold;
}	

#SUBTEXT {
    font-size: 30px;
	color: red;
	font-weight: bold;
}